{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template assignfeedback_structured/criteriasets

    Provides a template for the structured feedback plugin's criteria set management modal.

    Classes required for JS:
    * criteria-data

    Data attributes required for JS:
    * data-context
    * data-criteriaset-id
    * data-criteriaset-name
    * data-set-action
    * data-toggle

    Context variables required for this template:
    * contextId The context ID of the current assignment instance.
    * manage Whether a full management interface is required (otherwise it's read only).
    * canPublish Whether the current user can publish criteria sets.
    * ownedSets An array of data objects for all saved criteria sets owned by the current user.
    * sharedSets An array of data objects for any other available criteria sets.

    Example context (json):
    {
        "contextId": 1,
        "manage": true,
        "canPublish": false,
        "ownedSets": [
            {
                "id": 1,
                "name": "Criteria set 1",
                "shared": true
            },
            {
                "id": 2,
                "name": "Criteria set 2",
                "shared": false
            }
        ],
        "sharedSets": [
            {
                "id": 1,
                "name": "Criteria set 3"
            },
            {
                "id": 2,
                "name": "Criteria set 4"
            }
        ]
    }

}}
{{< core/modal }}
    <div class="assignfeedback_structured_criteriasets">
        {{$body}}
            {{> assignfeedback_structured/criteriasets_body }}
        {{/body}}
        {{$footer}}
            {{> assignfeedback_structured/criteriasets_footer }}
        {{/footer}}
    </div>
{{/ core/modal }}
