{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template assignfeedback_structured/criteriasets_footer

    Provides a footer template for the structured feedback plugin's criteria set management modal.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * manage Whether a full management interface is required (otherwise it's read only).

    Example context (json):
    {
        "manage": true
    }

}}
<div class="criteriasets-footer">
    {{^manage}}
        <label>
            <input type="checkbox" name="criteriasets-showshared" data-action="showshared" checked>
            {{#str}} criteriasetsshowshared, assignfeedback_structured {{/str}}
        </label>
    {{/manage}}
    {{> core/loading }}
    <button type="button" class="btn btn-secondary" data-action="refresh">{{#str}} refresh {{/str}}</button>
    <button type="button" class="btn btn-secondary" data-action="hide">{{#str}} close, assignfeedback_structured {{/str}}</button>
</div>
