{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template assignfeedback_structured/criteriasetsmanage

    Provides a template for the structured feedback plugin's criteria set management modal.

    Classes required for JS:
    * criteria-data

    Data attributes required for JS:
    * data-action
    * data-context
    * data-criteriaset-id
    * data-criteriaset-name
    * data-toggle

    Context variables required for this template:
    * contextId The context ID of the current assignment instance.
    * criteriaSets An array of data objects for all saved criteria sets owned by the current user.

    Example context (json):
    {
        "contextId": 1,
        "criteriaSets": [
            {
                "id": 1,
                "name": "Criteria set 1"
            },
            {
                "id": 2,
                "name": "Criteria set 2"
            }
        ]
    }

}}
<div class="assignfeedback_structured_criteriasetsmanage">
    <div class="criteriasets-page" data-context="{{contextId}}">
        {{#criteriaSets}}
            <div class="criteriaset-row" data-criteriaset-id="{{id}}" data-criteriaset-name="{{name}}">
                <div class="pull-xs-left">
                    <a href="#criteria-data-{{id}}" class="collapsed" data-toggle="collapse">{{name}}</a>
                </div>
                <div class="pull-xs-right">
                    {{> core/loading }}
                    <button type="button" class="btn btn-primary" data-action="delete">
                        {{#str}} delete {{/str}}
                    </button>
                </div>
                <div class="clearer"></div>
                <div id="criteria-data-{{id}}" class="criteria-data collapse">
                    {{> core/loading }}
                </div>
            </div>
        {{/criteriaSets}}
    </div>
</div>
{{#js}}
    require([
        'jquery',
        'core/ajax',
        'core/notification',
        'core/str',
        'core/templates'
    ],
    function($, ajax, notification, str, templates) {
        $('.loading-icon').hide();

        // Toggle criteria data.
        var criteriaToggle = $('[data-toggle="collapse"]');

        criteriaToggle.on('click', function() {
            toggleCriteria($(this));
        });

        function toggleCriteria(toggle) {
            var contextId = toggle.parent().parent().parent().data('context'),
                setId = toggle.parent().parent().data('criteriaset-id'),
                criteriaNode = toggle.parent().siblings('.criteria-data');

            if (!criteriaNode.children('.assignfeedback_structured_criteria').length) {
                criteriaNode.children('.loading-icon').show();
                var request = ajax.call([{
                    methodname: 'assignfeedback_structured_get_criteria',
                    args: {
                        contextid: contextId,
                        criteriasetid: setId
                    }
                }]);

                request[0].done(function(response) {
                    var context = {
                        criteriaData: response
                    };
                    templates.render('assignfeedback_structured/criteria', context).then(function(html, js) {
                        criteriaNode.children('.loading-icon').hide();
                        if (!criteriaNode.children('.assignfeedback_structured_criteria').length) {
                            templates.appendNodeContents(criteriaNode, html, js);
                        }
                    });
                }).fail(notification.exception);
            }
        }

        // Delete criteria set.
        var deleteButton = $('[data-action="delete"]');
        deleteButton.on('click', function() {
            var button = $(this),
                setName = button.parent().parent().data('criteriaset-name');
            str.get_strings([
                {'key': 'delete'},
                {'key': 'criteriasetconfirmdelete', component: 'assignfeedback_structured', param: setName},
                {'key': 'yes'},
                {'key': 'no'},
                {'key': 'error'},
                {'key': 'criteriasetnotdeleted', component: 'assignfeedback_structured', param: setName},
                {'key': 'continue'}
            ]).done(function(s) {
                notification.confirm(s[0], s[1], s[2], s[3], function() {
                    deleteSet(button, s[4], s[5], s[6]);
                });
            }).fail(notification.exception);
        });

        function deleteSet(button, title, body, label) {
            button.prev('.loading-icon').show();
            var contextId = button.parent().parent().parent().data('context'),
                setId = button.parent().parent().data('criteriaset-id');

            var request = ajax.call([{
                methodname: 'assignfeedback_structured_delete_criteriaset',
                args: {
                    contextid: contextId,
                    criteriasetid: setId
                }
            }]);

            request[0].done(function(response) {
                if (response === true) {
                    button.parent().parent('[data-criteriaset-id="' + setId + '"]').hide();
                } else {
                    notification.alert(title, body, label);
                }
            }).fail(notification.exception)
            .always(function() {
                button.prev('.loading-icon').hide();
            });
        }
    });
{{/js}}
